body {
    background-color:#f1f2ed;
}

.date-input:valid {
    color: green;
}

.date-input:invalid {
    color: #a5a6a3
}

.container {
    display: flex;
    width:50%;
    height:800px;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    line-height:1;
}

.banana {
    color:#f4cb2f;
}

.app-button {
    margin-top:15px;
    padding:10px 15px;
    border:1px solid black;
    border-radius:15px;
    color:black;
    font-weight:550;
    background-color:#f1f2ed;
    cursor:pointer;
}

.app-button:hover {
    background:black;
    color:white;
}

.app-totalcost {
    height:300px;
    padding:20px;
    font-weight:400;
    color:black;
}

input {
    text-align:center;
    background-color: white;
    padding:5px 9px;
}